@import url('https://fonts.googleapis.com/css?family=Arimo');
.menu-main ul {
    padding: 1em 0;
    background: #ECDAD6;
}
.menu-main a:hover {background: #009875;}
.menu-main li {
    display: inline;
}

.top-menu {
    background: rgba(255,255,255,.5);
    box-shadow: 3px 0 7px rgba(0,0,0,.3);
    padding: 20px;
}
.top-menu:after {
    content: "";
    display: table;
    clear: both;
}
.navbar-logo {display: inline-block;}
.menu-main {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
.menu-main li {display: inline-block;}
.menu-main a {
    text-decoration: none;
    display: block;
    position: relative;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    transition:.3s linear;
    padding: 1em;
    background: rgba(66, 185, 131, 0.56);
    border-right: 1px solid #009875;
    color: #f9fdff;
}
.menu-main a:before {
    content: "";
    width: 9px;
    height: 9px;
    background: #f2eeff;
    position: absolute;
    left: 50%;
    transform: rotate(45deg) translateX(6.5px);
    opacity: 0;
    transition: .3s linear;
}
@media (max-width: 600px) {
    .menu-main li {display: block;}
}

body {
    /*background: #76b852; /* fallback for old browsers */
    background: #AEE4F9; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}